.btn {
  padding: 14px 32px;
  font-weight: 500;
  line-height: 1;
  color: var(--accent-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  background-color: transparent;

  &--green {
    color: #FFFFFF;
    border: 1px solid transparent;
    background-image: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  }

  &--yellow {
    color: #FFFFFF;
    border: 1px solid transparent;
    background-image: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    ;
  }
}

.btn-close {
  @include flex-all-center;
  width: 24px;
  height: 24px;

  svg {
    display: block;
    width: 14px;
    height: 14px;
    fill: var(--gray-color);
  }
}