.header {
  margin-top: 41px;
  padding: 40px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }


  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}