.nav {

  &__list {
    @include flex-v-center;
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--tuna-color);

  }
}

.list-reset {}