.posts {
  border-right: 1px solid #EBECED;

  &__title {
    margin: 0;
    margin-bottom: 40px;
  }

  &__inner {
    margin-bottom: 40px;
  }

  &__btn {
    width: 260px;
    display: block;
    margin: 0 auto;
  }

}