.sidebar {
  max-width: 340px;
  padding-left: 10px;

  &__search {
    margin-bottom: 32px;
  }

  &__announce {
    margin-bottom: 32px;
  }

  &__popular {
    margin-bottom: 32px;
  }

  &__banner-link {
    margin-bottom: 52px;
  }
}