.sidebar-block {
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #EBECED;

  &__title {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 80px;
    font-weight: 300;
    font-size: 24px;
    line-height: 2.5;
    color: var(--dark-color);
    background-image: url("../img/announce.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px 60px;
  }


  &__item {
    color: var(--accent-color);

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    line-height: 1.6;
    color: var(--tuna-color);
  }
}