<div class="footer">
  <div class="container">
    <h2 class="sr-only">website footer</h2>
    <a class="footer__logo logo" href="#" title="logo company">
      <img src="img/logo.svg" width="204" height="33" alt="company logo">
    </a>

    <div class="footer__inner">
      <div class="footer__left">
        <div class="footer__holder">
          <h3 class="footer__subtitle">Company</h3>

          <ul class="footer__list list-reset">
            <li class="footer__item">
              <a class="footer__link" href="#">
                About Us
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Our Team
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Careers
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Press
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                In the Media
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                VPN Reviews
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Companies We Support
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Contact Us
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Blog
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__holder">
          <h3 class="footer__subtitle">programs</h3>
          <ul class="footer__list list-reset">
            <li class="footer__item">
              <a class="footer__link" href="#">
                Whitehat Security
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Affiliates
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__holder">
          <h3 class="footer__subtitle">learn more</h3>
          <ul class="footer__list list-reset">
            <li class="footer__item">
              <a class="footer__link" href="#">
                VPN Encryption
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Android VPN App
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                iOS VPN App
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                PIA Sitemap
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__holder">
          <h3 class="footer__subtitle">legal</h3>
          <ul class="footer__list list-reset">
            <li class="footer__item">
              <a class="footer__link" href="#">
                Terms Of Service
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Privacy Policy
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                DMCA Policy
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Export Control Policy
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__holder footer__info">
          <h3 class="footer__subtitle">about</h3>
          <p class="footer__text">
            Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries,44+
            regions.
          </p>

          <p class="footer__text">Map data provided by Google.</p>

          <p class="footer__award">
            PC Mag Editor’s Choice award image reprinted with permission. &#169; 2012 Ziff Davis, Inc. All Rights Reserved.
          </p>
          <p class="footer__award">
            PC Mag quote reprinted from www.pcmag.com with permission. &#169; 2012 Ziff Davis, Inc. All Rights Reserved.
          </p>
          <p class="footer__copy">
            &#169; London Trust Media, Inc. All Rights Reserved.
          </p>
        </div>

        <div class="footer__holder footer__social">
          <h3 class="footer__subtitle">social</h3>
          <ul class="social list-reset" title="We're on social media">
            <li class="social__item">
              <a class="social__link social__link--fb" href="#" target="_blank" aria-label="Our Facebook page"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--tw" href="#" target="_blank" aria-label="Our Twitter page"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--gp" href="#" target="_blank" aria-label="Our Google Plus page"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--ld" href="#" target="_blank" aria-label="Our Linkedin page"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--rd" href="#" target="_blank" aria-label="Our reddit page"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--yt" href="#" target="_blank" aria-label="Our YouTube page"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>