<header class="header">
  <div class="container-fluid header__container">
    <a class="logo" href="#">
      <img src="./img/logo.svg" width="239" height="33" alt="company logo">
    </a>

    <nav class="nav" title="main menu">

      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">
            why us
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            vpn apps
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            support
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            resources
          </a>
        </li>
      </ul>

    </nav>

    <div class="header__btns">
      <button class="btn-reset btn">log in</button>
      <button class="btn-reset btn btn--green">get started</button>
    </div>
  </div>
</header>