<section class="intro">
  <div class="container">
    <h1 class="sr-only">the latest news from the world of technology</h1>
    <div class="intro__inner">
      <h2 class="sr-only">most viewed articles</h2>

      <article class="posts__item article article--main">
        <a class="article__image-link" href="#">
          <picture>
            <source srcset="img/article-main.avif" type="image/avif">
            <source srcset="img/article-main.webp" type="image/webp">
            <img loading="lazy" src="img/article-main.jpg" class="article__image" width="600" height="400" alt="article imag">
          </picture>
        </a>

        <div class="article__content">
          <a class="article__descr" href="#">
            TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
          </a>

          <div class="article__info">
            <a class="article__author" href="#">
              Danica Sergison
            </a>
            <time class="article__time" datetime="2018-07-08 19:00">
              <span>|</span> JUL 08, 2018
            </time>
          </div>


          <div class="article__tags">
            <a href="#" class="article__tag">
              Copyright
            </a>
            <a href="#" class="article__tag">
              News
            </a>
            <a href="#" class="article__tag">
              Open Source
            </a>
            <a href="#" class="article__tag">
              Privacy
            </a>

          </div>

          <a class="article__comments" href="#">
            <span>
              0
            </span>
          </a>
        </div>
      </article>
    </div>

  </div>
</section>