<sectoin class="posts">
  <h2 class="posts__title">
    Recent posts
  </h2>
  <div class="posts__inner">

    <article class="posts__item article">
      <a class="article__image-link" href="#">
        <img class=" article__image" src="img/article-1.jpg" width="280" height="180" alt="article image">
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Derek Zimmer
          </a>
          <time class="article__time" datetime="2018-07-25 19:00">
            <span>|</span> JUL 25, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            Governments
          </a>
          <a href="#" class="article__tag">
            Networking
          </a>
          <a href="#" class="article__tag">
            Open Source
          </a>
          <a href="#" class="article__tag">
            Privacy
          </a>
          <a href="#" class="article__tag">
            Security
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

  </div>
  <button class="btn-reset btn btn--large posts__btn">
    older posts
  </button>
</sectoin>