<div class="posts">
  <h2 class="posts__title title title--medium">
    Recent posts
  </h2>
  <div class="posts__inner">

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-1.avif" type="image/avif">
          <source srcset="img/article-1.webp" type="image/webp">
          <img loading="lazy" src="img/article-1.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Derek Zimmer
          </a>
          <time class="article__time" datetime="2018-07-25 19:00">
            <span>|</span> JUL 25, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            Governments
          </a>
          <a href="#" class="article__tag">
            Networking
          </a>
          <a href="#" class="article__tag">
            Open Source
          </a>
          <a href="#" class="article__tag">
            Privacy
          </a>
          <a href="#" class="article__tag">
            Security
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-2.avif" type="image/avif">
          <source srcset="img/article-2.webp" type="image/webp">
          <img loading="lazy" src="img/article-2.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          How to get cheaper flights using a VPN
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Jayson
          </a>
          <time class="article__time" datetime="2018-07-24 19:00">
            <span>|</span> JUL 24, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            guides
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-3.avif" type="image/avif">
          <source srcset="img/article-3.webp" type="image/webp">
          <img loading="lazy" src="img/article-3.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          Net Neutrality was repealed, but the fight is far from over
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Chris Miller
          </a>
          <time class="article__time" datetime="2018-07-22 19:00">
            <span>|</span> JUL 22, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            Governments
          </a>
          <a href="#" class="article__tag">
            Net Neutrality
          </a>
          <a href="#" class="article__tag">
            News
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-1.avif" type="image/avif">
          <source srcset="img/article-1.webp" type="image/webp">
          <img loading="lazy" src="img/article-1.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Derek Zimmer
          </a>
          <time class="article__time" datetime="2018-07-25 19:00">
            <span>|</span> JUL 25, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            Governments
          </a>
          <a href="#" class="article__tag">
            Networking
          </a>
          <a href="#" class="article__tag">
            Open Source
          </a>
          <a href="#" class="article__tag">
            Privacy
          </a>
          <a href="#" class="article__tag">
            Security
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-2.avif" type="image/avif">
          <source srcset="img/article-2.webp" type="image/webp">
          <img loading="lazy" src="img/article-2.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          How to get cheaper flights using a VPN
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Jayson
          </a>
          <time class="article__time" datetime="2018-07-24 19:00">
            <span>|</span> JUL 24, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            guides
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

    <article class="posts__item article">
      <h2 class="sr-only">hidden caption</h2>
      <a class="article__image-link" href="#">
        <picture>
          <source srcset="img/article-3.avif" type="image/avif">
          <source srcset="img/article-3.webp" type="image/webp">
          <img loading="lazy" src="img/article-3.jpg" class="article__image" width="280" height="180" alt="article imag">
        </picture>
      </a>

      <div class="article__content">
        <a class="article__descr" href="#">
          Net Neutrality was repealed, but the fight is far from over
        </a>

        <div class="article__info">
          <a class="article__author" href="#">
            Chris Miller
          </a>
          <time class="article__time" datetime="2018-07-22 19:00">
            <span>|</span> JUL 22, 2018
          </time>
        </div>


        <div class="article__tags">
          <a href="#" class="article__tag">
            Governments
          </a>
          <a href="#" class="article__tag">
            Net Neutrality
          </a>
          <a href="#" class="article__tag">
            News
          </a>
        </div>

        <a class="article__comments" href="#">
          <span>
            0
          </span>
        </a>
      </div>
    </article>

  </div>
  <button class="btn-reset btn btn posts__btn">
    older posts
  </button>
</div>