<aside class="sidebar">
  <form action="#" class="sidebar__search search-form">
    <label class="search-form__label">
      <span class="sr-only">article search</span>
      <input type="search" name="search" class="input-reset search-form__input" placeholder="Search blog">
    </label>
  </form>

  <div class="sidebar__announce sidebar-block">
    <h2 class="sidebar-block__title sidebar-block__title--announce">Announcements</h2>
    <ul class="sidebar-block__list list-reset">
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Upcoming Changes (Live Chat, Less Censorship, More Access)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          New Servers (US Washington DC)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          New Servers (US Denver)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Open Source: Releasing the PIA iOS Client
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Opera Extension is now available
        </a>
      </li>

    </ul>
  </div>

  <div class="sidebar__popular sidebar-block">
    <h2 class="sidebar-block__title sidebar-block__title--popular">Popular posts</h2>
    <ul class="sidebar-block__list list-reset">
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          The Gift of Privacy
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          About the PIA Client Security and VPN Security in General
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          A Private Net Is Just As Fundamental A Right As Freedom Of Speech
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie
        </a>
      </li>

    </ul>
  </div>

  <div class="sidebar__banner">
    <a class="sidebar__banner-link" href="#">
      <picture>
        <source srcset="img/banner.avif" type="image/avif">
        <source srcset="img/banner.webp" type="image/webp">
        <img loading="lazy" src="img/banner.jpg" class="sidebar__banner-image" width="340" height="440" alt="banner">
      </picture>
    </a>
  </div>

</aside>