<aside class="sidebar">
  <form action="#" class="sidebar__search search-form">
    <label class="search-form__label">
      <span class="sr-only">article search</span>
      <input type="search" name="search" class="input-reset search-form__input" placeholder="Search blog">
    </label>
  </form>

  <div class="sidebar__announce sidebar-block">
    <h2 class="sidebar-block__title">Announcements</h2>
    <ul class="sidebar-block__list">
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Upcoming Changes (Live Chat, Less Censorship, More Access)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          New Servers (US Washington DC)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          New Servers (US Denver)
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Open Source: Releasing the PIA iOS Client
        </a>
      </li>
      <li class="sidebar-block__item">
        <a class="sidebar-block__link" href="#">
          Opera Extension is now available
        </a>
      </li>

    </ul>
  </div>

</aside>