<div class="tags">
  <div class="container">
    <div class="tags__inner">
      <div class="tags__left">
        <span class="tags__сaption">tags:</span>
        <a class="tags__link" href="#">bitcoin</a>
        <a class="tags__link" href="#">bittorrent</a>
        <a class="tags__link" href="#">irc</a>
        <a class="tags__link" href="#">news</a>
        <a class="tags__link" href="#">privacy</a>
        <a class="tags__link" href="#">programming</a>
        <a class="tags__link" href="#">security</a>
      </div>
      <div class="tags__right">
        <a class="tags__info" href="#">team</a>
        <a class="tags__info" href="#">contact</a>
      </div>
    </div>
  </div>
</div>