<section class="tariffs">
  <div class="container">
    <h2 class="tariffs__title title title--big title--big-light">
      Sign up today – 7 day money back guarantee
    </h2>
    <h2 class="tariffs__title title title--big title--big-mobile title--big-light">
      Sign up today<br>– 7 day money back <br> guarantee
    </h2>

    <ul class="tariffs__list list-reset">

      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">
          monthly
        </h3>
        <div class="tariffs__price">
          <span class="tariffs__currency">
            &#36;
          </span>
          6.95
          <span class="tariffs__time">
            / mo.
          </span>
        </div>
        <div class="tariffs__descr">
          Includes all VPN features.
        </div>
        <button class="tariffs__btn btn-reset btn ">SIGN UP</button>
      </li>

      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">
          two years
        </h3>
        <div class="tariffs__price">
          <span class="tariffs__currency">
            &#36;
          </span>
          2.91
          <span class="tariffs__time">
            / mo.
          </span>
        </div>
        <div class="tariffs__descr">
          <span class="tariffs__old">
            $166.80
          </span>
          $69.95 per two years
          <span class="tariffs__discount">
            Save 58%*
          </span>
        </div>


        <button class="tariffs__btn btn-reset btn btn--fill">SIGN UP</button>
      </li>

      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">
          yearly
        </h3>
        <div class="tariffs__price">
          <span class="tariffs__currency">
            &#36;
          </span>
          3.33
          <span class="tariffs__time">
            / mo.
          </span>
        </div>
        <div class="tariffs__descr">
          <span class="tariffs__old">
            $83.40
          </span>
          $39.95 per year
          <span class="tariffs__discount">
            Save 52%*
          </span>
        </div>


        <button class="tariffs__btn btn-reset btn">SIGN UP</button>
      </li>

    </ul>

    <div class="tariffs__pay">
      <div class="tariffs__pay-descr">Ways to pay:</div>
      <ul class="tariffs__pay-list list-reset">

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/visa.avif" type="image/avif">
              <source srcset="img/visa.webp" type="image/webp">
              <img loading="lazy" src="img/visa.png" class="tariffs__pay-image" width="100" height="100" alt="visa icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/master.avif" type="image/avif">
              <source srcset="img/master.webp" type="image/webp">
              <img loading="lazy" src="img/master.png" class="tariffs__pay-image" width="100" height="100" alt="master icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/amex.avif" type="image/avif">
              <source srcset="img/amex.webp" type="image/webp">
              <img loading="lazy" src="img/amex.png" class="tariffs__pay-image" width="100" height="100" alt="american express icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/paypal.avif" type="image/avif">
              <source srcset="img/paypal.webp" type="image/webp">
              <img loading="lazy" src="img/paypal.png" class="tariffs__pay-image" width="100" height="100" alt="paypal icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/bitcoin.avif" type="image/avif">
              <source srcset="img/bitcoin.webp" type="image/webp">
              <img loading="lazy" src="img/bitcoin.png" class="tariffs__pay-image" width="100" height="100" alt="bitcoin icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/okpay.avif" type="image/avif">
              <source srcset="img/okpay.webp" type="image/webp">
              <img loading="lazy" src="../img/okpay.png" class="tariffs__pay-image" width="100" height="100" alt="okpay icon">
            </picture>
          </a>
        </li>

        <li class="tariffs__pay-item">
          <a href="#" class="tariffs__pay-link">
            <picture>
              <source srcset="img/amazon.avif" type="image/avif">
              <source srcset="img/amazon.webp" type="image/webp">
              <img loading="lazy" src="img/amazon.png" class="tariffs__pay-image" width="100" height="100" alt="amazon icon">
            </picture>
          </a>
        </li>

      </ul>
    </div>

    <div class="tariffs__info">
      <button class="tariffs__info-btn info-btn btn-reset">
        How to pay anonymously
        <svg class="info-btn__img">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="tariffs__info-btn info-btn btn-reset">
        reedem gift card
        <svg class="info-btn__img">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>


  </div>

</section>